body {
  position: relative;
  min-height: 100vh;
  background-color: black;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}

h1, h2 {
  font-family: 'Poppins', sans-serif;
}

a {
  color: #f9f;
  text-decoration: none;
}

p {
  margin: 10px 0;
}

a:hover {
  background-color: #faf;
  color: #000;
}

ul {
  background-color: transparent;
  padding: 1em 1em 1em 1em;
  border: #fff solid;
}

li {
  list-style: none;
  color: #fff;
  background-color: transparent;
  margin: 0.25em 0;
  box-sizing: border-box;
}

li:hover {
  background-color: #a0a;
}

.site-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.site-container footer {
  position: sticky;
  bottom: 0;
  background-color: #000;
  padding-bottom: 1vh;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: large;
}

.monospace-header {
  font-size: 8px;
  font-size: 0.8vw;
  font-family: monospace, fixed;
  white-space: pre;
  text-rendering: optimizeLegibility;
  font-weight: bold;
}

.ascii-line-black-blue {
  color: #00a;
  background-color: #000;
}

.ascii-line-black-pink {
  color: #f5f;
  background-color: #000;
}

@media only screen and (max-width: 800px) {
  .monospace-header {
    font-size: 1.5vw;
  }
}

figure.ascii-figure {
  margin: 0;
}

figure.ascii-figure figcaption {
  display: none;
}

