section {
  position: relative;
  border: #ddd solid;
  margin-bottom: 2em;
}

section .header {
  position: relative;
  background-color: #ddd;
  color: #000;
}

section .header h2:not(:first-child) {
  padding-top: 0;
}

section .content {
  padding: 0.6em;
  line-height: 1em;
  font-size: x-large;
}

section h2 {
  margin: 0;
  padding: 0.5em;
  position: relative;
}

section h2 span {
  margin: 0;
  width: 35%;
  position: absolute;
  font-size: large;
  text-align: end;
  right: 1em;
  top: 0.75em;
}

section h2:not(:first-child) span {
  top: 0.25em;
}

@media only screen and (max-width: 700px) {
  section h2 {
    display: flex;
    flex-direction: column;
  }

  section h2 span {
    width: 100%;
    position: relative;
    right: unset;
    text-align: unset;
    top: unset !important;
  }
}

section h3 {
  margin: 0;
  font-size: larger;
  padding: 0.9em 0.8em 0;
  background-color: #000;
  color: #ddd;
}

section h3.bottom-label {
  top: unset;
  bottom: 0.75em;
}

section p {
  font-size: large;
}

main {
  margin-bottom: 3vh;
}

li {
  font-size: large;
  text-align: center;
}

.monospace-header {
  font-size: 1vw;
}

@media only screen and (min-width: 1300px) {
  .site-container {
    width: 50%;
  }
}

.monospace-header {
  font-size: 1.5vw;
}

@media only screen and (max-width: 1000px) {
  .monospace-header {
    font-size: 2.5vw;
  }
}
