@charset "UTF-8";

.list-posts {
  list-style-type: none;
  padding: 0px;
}

.post-teaser {
  margin-bottom: 15px;
  font-weight: 700;
}

.post-teaser_title {
  font-size: 100%;
}

.post-teaser_date {
  font-size: 100%;
  float: right;
  vertical-align: middle;
  color: #acacac;
}

.post-category-label {
  width: 100%;
  text-align: center;
}

.empty-post-list {
  font-size: 120%;
  font-weight: 700;
  color: #acacac;
  text-align: center;
}

@media (max-width: 600px) {
  .post-category-label {
    font-size: 100%;
    margin-top: 5px;
    float: none;
    display: block;
    text-align: center;
    width: 100%;
  }
}