@charset "UTF-8";

.wrapper {
  max-width: 850px;
  margin: 60px auto;
  padding: 0 5vw;
  box-sizing: border-box;
}

.center-text {
  text-align: center;
}

/* =Home Page *//*************************************************************/

#about-img {
  border-radius: 13%;
  max-width: 250px;
  margin: auto;
  margin-bottom: 3%;
}

#describe-text {
  display: block;
  text-align: center;
  width: 100%;
}

@media (max-width: 600px) {
  .wrapper {
    width: 90%;
    margin: 15px auto;
  }
}