@charset "UTF-8";

.page-title {
  margin: 30px auto;
  text-align: center;
}

.page-title_text {
  font-weight: 700;
  font-size: 135%;
  font-family: 'Quicksand', sans-serif;  
}

.page-title_subtitle {
  font-weight: 400;
  font-size: 75%;
  color: #acacac;
}

.page-title_date {
  font-weight: 300;
  font-size: 65%;
  color: #acacac;
}

@media (max-width: 600px) {
  .page-title {
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .page-title_text {
    font-size: 120%;
  }

  .page-title_subtitle {
    font-size: 65%;
  }

  .post-teaser_title {
    font-size: 125%;
    display: block;
    text-align: center;
    width: 100%;
  }
}